{require_otp_vsn, "R15"}.
{sub_dirs, [
			"deps",
			"apps/rattle2"
		   ]}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [
			{parse_transform, lager_transform}
		   ]}.

{deps, [
        {mochiweb, "2.4.2", {git, "git://github.com/mochi/mochiweb", {tag, "v2.4.2"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
        {poolboy, "0.8.1", {git, "git://github.com/basho/poolboy", "0e15b5dcbff89b3d1d4021591f90375d4d2ee9a1"}}
       ]}.